<% include ../partials/head %>
<% include ../partials/header %>

	<div class="content">
			<div>
					<form name="location" method="post" action="/admin/locations/update/<%= location.id %>">
							<fieldset>
									<label>Name</label>
									<input type="text" name="name" value="<%= location.name %>">

									<label>City</label>
									<input type="text" name="city" value="<%= location.city %>">

									<label>Street</label>
									<input type="text" name="street" value="<%= location.street %>">

									<label>Zip</label>
									<input type="text" name="zip" value="<%= location.zip %>">

									<label>Phone</label>
									<input type="text" name="phone" value="<%= location.phone %>">

									<label>Fax</label>
									<input type="text" name="fax" value="<%= location.fax %>">

									<label>Web</label>
									<input type="text" name="web" value="<%= location.web %>">

									<label>Email</label>
									<input type="text" name="email" value="<%= location.email %>">

									<label>Image Url</label>
									<input type="text" name="imageUrl" value="<%= location.imageUrl %>">

							</fieldset>
									<input type="submit" value="Save">

					</form>
			</div>
	</div>

<% include ../partials/footer %>
