<% include ../partials/head %>
<% include ../partials/header %>

	<a href="/admin/locations/new">new</a>


		<% locations.forEach(function(location){ %>

			<h1><%= location.name %></h1>
			<ul>
				<li>
					<span><%= location.zip %></span> <span><%= location.city %></span>
				</li>
				<li>
					<span><%= location.street %></span>
				</li>
				<li><%= location.phone %></li>
				<li><%= location.fax %></li>
				<li><%= location.web %></li>
				<li><%= location.email %></li>
				<li><%= location.imageUrl %></li>
			</ul>
			<a href="locations/edit/<%= location._id %>">edit</a>
		<% }); %>


<% include ../partials/footer %>
