<% include ../partials/head %>
<% include ../partials/header %>

	<div class="content">
			<div>
					<form name="band" method="post" action="/admin/musicians/update/<%= musician.id %>">
							<fieldset>
									<label>Name</label>
									<input type="text" name="name" value="<%= musician.name %>">

									<label>Instrument</label>
									<input type="text" name="instrument" value="<%= musician.instrument %>"">

									<label>Country</label>
									<input type="text" name="country" value="<%= musician.country %>"">

									<select name=band_id multiple>
										<% bands.forEach(function(band) { %>
											<option value=<%= band._id %>
												<%= (musician.bands.indexOf(band._id) > -1) ? "selected" : "" %>
												><%= band.name %>
											</options>
										<% }) %>
									</select>

							</fieldset>
							<input type="submit" value="Save">
					</form>
			</div>
	</div>

<% include ../partials/footer %>
