<% include ../partials/head %>
<% include ../partials/header %>

    <a href="/admin/musicians/new">new</a>

    <table>
      <% musicians.forEach(function(musician){ %>
        <tr>
          <td><%= musician.name %></td>
          <td><%= musician.band.name %></td>
          <td><%= musician.instrument %></td>
          <td><%= musician.country %></td>
          <td>
            <a href="musicians/edit/<%= musician._id %>">edit</a>
          </td>
      <% }); %>
    </table>

<% include ../partials/footer %>
