<% include ../partials/head %>
<% include ../partials/header %>

	<a href="/admin/performances/new">new</a>

	<table>
		<% performances.forEach(function(performance){ %>
			<tr>
				<td><%= performance.name %>:</td>
				<td><%= performance.band.name %> play</td>
				<td>at <%= performance.festival.name %></td>
				<td>in <%= performance.location.name %></td>
				<td>from <%= performance.from %></td>
				<td>to <%= performance.to %></td>

				<td>
					<a href="performances/edit/<%= performance._id %>">edit</a>
				</td>
		<% }); %>
	</table>

<% include ../partials/footer %>
