<% include ../partials/head %>
<% include ../partials/header %>

	<div class="content">
			<div>
					<form name="performance" method="post" action="/admin/performances/new">
							<fieldset>
									<label>Name</label>
									<input type="text" name="name">
									<label>from</label>
									<input type="datetime-local" name="from">
									<label>to</label>
								  <input type="datetime-local" name="to">
								  <label>featuring</label>
								  <input type="text" name="featuring">
									<label>description</label>
									<textarea name="description" rows="8" cols="80"></textarea>
							</fieldset>

							<fieldset>
									<select name=festival_id >
										<% festivals.forEach(function(festival) { %>

											<option value=<%= festival._id %>

												><%= festival.name %> <%= festival.year %>
											</options>
										<% }) %>
									</select>

									<select name=location_id >
										<% locations.forEach(function(location) { %>

											<option value=<%= location._id %>

												><%= location.name %>
											</options>
										<% }) %>
									</select>

									<select name=band_id >
										<% bands.forEach(function(band) { %>

											<option value=<%= band._id %>

												><%= band.name %>
											</options>
										<% }) %>
									</select>
							</fieldset>
									<input type="submit" value="Save">
					</form>
			</div>
	</div>

<% include ../partials/footer %>
