<% include ../partials/head %>
<% include ../partials/header %>

	<div class="content">
			<div>
					<form name="performance" method="post" action="/admin/performances/update/<%= performance.id %>">
							<fieldset>
									<label>Name</label>
									<input type="text" name="name"      value="<%= performance.name %>">
									<label>from</label>
									<input type="datetime-local" name="from" value="<%= moment(performance.from).format('YYYY-MM-DDTHH:mm:ss.SSS') %>">
									<label>to</label>
									<input type="datetime-local" name="to" value="<%= moment(performance.to).format('YYYY-MM-DDTHH:mm:ss.SSS') %>">
									<label>featuring</label>
									<input type="text" name="featuring" value="<%= performance.featuring %>">
							</fieldset>

							<fieldset>
								<label>Description</label>
								<textarea name="description" rows="8" cols="80"><%= performance.description %></textarea>
							</fieldset>

							<fieldset>
									<select name=festival_id >
										<% festivals.forEach(function(festival) { %>
											<option value=<%= festival._id %>
												<%= performance.festival.equals(festival) ? "selected" : "" %>
												><%= festival.name %> <%= festival.year %>
											</options>
										<% }) %>
									</select>

									<select name=location_id >
										<% locations.forEach(function(location) { %>

											<option value=<%= location._id %>
												<%= performance.location.equals(location) ? "selected" : "" %>
											><%= location.name %></options>
										<% }) %>
									</select>

									<select name=band_id >
										<% bands.forEach(function(band) { %>

											<option value=<%= band._id %>
												<%= performance.band.equals(band) ? "selected" : "" %>
												><%= band.name %>
											</options>
										<% }) %>
									</select>
							</fieldset>
							<input type="submit" value="Save">
					</form>
			</div>
	</div>

<% include ../partials/footer %>
