<% include ../partials/head %>
<% include ../partials/header %>

	<a href="/admin/performances/new">new</a>

	<table>
		<% performances.forEach(function(performance){ %>
			<tr>
				<td><%= performance.name %>:</td>
				<td><%= performance.band.name %></td>
				<td>at <%= performance.festival.name %></td>
				<td>in <%= performance.location.name %></td>
				<td>from <%= moment(performance.from).format('dddd, d MMMM YYYY hh:mm') %></td>
				<td>to <%= moment(performance.to).format(shortDateFormat) %></td>
				<td><%= performance.description %></td>
				<td>
					<a href="performances/edit/<%= performance._id %>">edit</a>
				</td>
		<% }); %>
	</table>

<% include ../partials/footer %>
